{% load i18n %}
<form id="volume_form" method="post">
    <fieldset>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
        {% for field in form.visible_fields %}
            {% if field.label == 'Size (GB)' %}
                <label for="id_size">
                    Size (GB) -
                    <span style="font-weight:bold">max {{ total_avail_disk_size|floatformat }} GB</span>
                </label>
            {% else %}
                {{ field.label_tag }}
            {% endif %}
        {{ field.errors }}
        {{ field }}
        {% endfor %}
        <input type="submit" value="{% trans "Create Volume" %}" class="large-rounded" />
    </fieldset>
</form>