<form id="launch_img" action="" method="post">
  {% csrf_token %}
  <fieldset>
    {% for hidden in form.hidden_fields %}
      {{hidden}}
    {% endfor %}
    {% for field in form.visible_fields %}
      {% if field.label == 'Flavor' %}
        <label for="id_flavor">
          Flavor
          <span style="font-weight: bold;">
            [Maximum disk size {{resources.free_disk|floatformat}} GB]
          </span>
        </label>
      {% else %}
        {{field.label_tag}}
      {% endif %}
      {{field.errors}}
      {{field}}
    {% endfor %}
    {% block submit %}
      <input type="submit" value="Launch Instance" />
    {% endblock %}
  </fieldset>
</form>
