{% extends 'django_openstack/dash/base.html' %}

{% block sidebar %}
  {% with current_sidebar="images" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "django_openstack/common/_page_header.html" with title="Launch Instance" %}
{% endblock page_header %}

{% block dash_main %}
  <div class="dash_block">
    <div class="left">
      {% include 'django_openstack/dash/images/_launch.html' %}
    </div>
    <div class="right">
      <h3>Description:</h3>
      <p>Specify the details for launching an instance. Also please make note you need a valid Key and a Security Group for your Virtual Machine:</p>
      <p>
      <ul>
        <li><b>Server Name:</b> You need to give a name to your virtual machine. This name must be unique and should identify the server from the other machines.</li>
        <li>&nbsp;</li>
        <li><b>User Data:</b> (For advanced users) Pass information as metadata to your virtual machine. Useful if you want to configure your servers at boot time.</li>
        <li>&nbsp;</li>
        <li><b>Flavor:</b> Server type assigned to your virtual image based on the Virtual CPUs, Memory and Storage needed (Keep in mind that you can add extra storage at any time adding volumes).</li>
        <li>&nbsp;</li>
        <li><b>Key Name:</b> User Key to control the access to the Server. You have to check that your virtual image can use Key injection</li>
        <li>&nbsp;</li>
        <li><b>Security Groups:</b> Firewall rules to allow or deny access to the ports of your private network. You should use Security Groups combined with Floating IPs to allow traffic from Internet to your servers.</li>
        <li>&nbsp;</li>
    </ul></p>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
{% endblock %}
